*~
*/*.db
*/.RData
*/.Rhistory
*/*/*.rda
._*
*/jawiki*
*/*.rda
*/*.RData
wordcloud/images
topic/*mm
*/*.npy
*/*.log
*.pyc
cao/www5.*
cao/model*
cao/check*
.idea
*/.idea
*/*.model
*.bin
nohup.*
*.dict
*.mm
*.index
cao/txt/*
